# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Project Related 
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/gba3d/v15/*.suo
/.vs/gba3d/v15/*.db
/Debug
/build
/*.gba
/*.opensdf
/*.sdf
/*.suo
/project/.vs/*
/project/Debug
/project/*.user
/project/*.sdf
/project/*.suo
/backup
/reference
/gba3d.sav
/log.txt
/tests/obj
/tests/configuration.yml
/tests/bin/Debug/netcoreapp3.1
